@font-face {
    font-family: 'Optician';
    src: url('/assets/fonts/Optician-Sans.woff2') format('truetype');
}
@font-face {
    font-family: 'Telegraf Regular';
    src: url('/assets/fonts/PPTelegraf-Regular.otf') format('truetype');
}

@font-face {
    font-family: 'Telegraf Bold';
    src: url('/assets/fonts/PPTelegraf-Ultrabold.otf') format('truetype');
}

body {
    font-family: 'Telegraf Regular', sans-serif;
    font-size:16px;
    
}



body[dark="true"]{
    --text:rgb(238, 240, 245);
    --bg1:rgb(7, 11, 17);
    --bg2:rgb(17, 25, 40);
    --bg2trans:rgba(17, 25, 40, 0.75);
    --border:rgba(255, 255, 255, 0.125);
    --active:#627aca;
    --ok:#8fad79;
    --warning:#ada779;
    --destroy:#ad7a79;
    --error:#b2504e;
    --shadow:rgba(29, 32, 207, 0.9);
    --light-shadow:rgba(68,29,207,0.2);
}
body[dark="false"]{
    --text:rgb(0, 0, 0);
    --bg1:#eee;
    --bg2:#fff;
    --bg2trans:rgba(255, 255, 255, 0.75);
    --border:rgba(209, 213, 219, 0.3);
}

body{
    /* background:var(--bg1); */
    color:var(--text);
    word-wrap: break-word;    
    background: url('https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1124&q=100') no-repeat center center fixed;
    background-size: cover;
}
.c{
    backdrop-filter:url(#blur) brightness(0.2);
}

.card {
    backdrop-filter: blur(25px) saturate(180%);
    -webkit-backdrop-filter: blur(25px) saturate(180%);
    background-color: var(--bg2trans);
    border-radius: 12px;
    border: 1px solid var(--border);
}

.modal-c{
    position:fixed;
    z-index:999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.modal{
    width:50%;
    display:grid;
    grid-template-rows: 1fr 2fr 1fr;
    gap:20px;
    padding-top:20px;
    
    box-shadow: 0px 0px 1000px 0px var(--light-shadow);
    background:var(--bg2);

}
.card-item{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-inline:20px;
    /* border-bottom: 1px solid var(--border); */
    width:100%;
}

.title{
    font-family: 'Telegraf Bold', sans-serif;
    font-size:5rem;
    text-align: center;
}
.buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:20px;
    padding:20px;
    padding-inline:0;
}
button.big{
    font-size:4rem;
}

button{
    font-family: 'Telegraf Bold', sans-serif;
    border-radius: 12px;
    border: 1px solid var(--border);
    background-color: var(--bg2trans);
    color:var(--text);
    padding:10px 20px;
    cursor:pointer;
    transition: all 0.2s ease-in-out;
    width:100%;
    height:100%;
    font-size:2rem;
}
button:hover{
    filter:saturate(1.2) brightness(1.1);
    font-size:4.5rem;
}
button:active{
    filter:saturate(1.3) brightness(0.8);
    font-size:3.5rem;
}
.active{
    background-color:var(--active);
    color:var(--bg1);
}
.ok{
    background-color:var(--ok);
    color:var(--bg1);
}
.warning{
    background-color:var(--warning);
    color:var(--bg1);
}
.destroy{
    background-color:var(--destroy);
    color:var(--bg1);
}

textarea{
    font-family: 'Telegraf Regular', sans-serif;
    font-size:2rem;
    border-radius: 12px;
    border: 1px solid var(--border);
    background-color: var(--bg2trans);
    color:var(--text);
    padding:10px 10px;
    transition: all 0.2s ease-in-out;
    width:100%;
    height:100%;
    resize:none;
}

.hidden{
    display:none !important;
}
.disabled{
    opacity:0.5;
    cursor:not-allowed;
    filter:grayscale(1);
}
.popup-c.error .popup{
    background-color:var(--error);
    box-shadow: 0px 0px 1000px 0px rgba(207, 29, 29, 0.657);
}

.popup-c{
    position:fixed;
    z-index:9999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
    backdrop-filter:blur(25px) saturate(180%);
}
.popup{
    width:50%;
    display:grid;
    grid-template-rows: 1fr 2fr;
    gap:20px;
    padding-top:20px;
    box-shadow: 0px 0px 1000px 0px var(--light-shadow);
    border-radius:25px;
    font-size:2.5rem;
    padding:25px;
    background:var(--bg2);
}

.c{
    position:absolute;
    top:0;
    left:0;
    display:flex;
    flex-direction: column;
    padding:25px;
    gap:25px;
    z-index: 0;
    width: calc(100vw - 50px);
    height: calc(100vh - 50px);
}
.glow{
    text-shadow: 0px 0px 100px var(--shadow);
}
.glowbox{
    text-shadow: 0px 0px 100px 0 var(--shadow);
}
h1{
    font-size:3.5rem;
    font-family: 'Optician', sans-serif;
}
.card-list{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap:20px;
    padding:20px;
}
.studyset{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding:25px;
    cursor: pointer;
    user-select: none;
}

.studyset .title{
    font-size:3rem;
    font-family: 'Optician', sans-serif;
    text-align: center;
}
.description{
    opacity:0.7;
    font-size:1.5rem;
}
.studyset .card-item{
    margin:0;
    justify-content: start;
}
.pill{
    width:100%;
    height:15px;
    background:var(--active);
    border-radius:100px;
    margin-bottom:10px;
}

.flex-opposite{
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.nav button{
    max-width: 150px;
    aspect-ratio: 2;
    background:var(--active);
    font-size:2rem !important;
}
.nozoom{
    font-size:2rem !important;
}

.flex-row{
    display:flex;

}
.addflashcard{
    height:max-content;
    display:flex;
    justify-content: center;
    align-items: center;
    background: var(--active);
}

.summary .card{
    padding:25px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardlist{
    margin-top:25px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-y:auto;
}
.flashcard{
    width:calc(100% - 52px);
    font-family:'Telegraf Regular', sans-serif;
    font-size:2rem;
    min-height:100px;
    display: flex;
    justify-content: stretch;
    align-items: center;

}

.sides-preview{
    display:grid;
    justify-content: space-between;
    align-items: stretch;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    width:100%;
    gap:20px;
    height: 100%;
    flex:1;
}

.side-preview{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;    
    border: 1px solid var(--border);
    background-color: var(--bg2trans);
    color:var(--text);
}