@font-face {
    font-family: 'Optician';
    src: url('/assets/fonts/Optician-Sans.woff2') format('truetype');
}
@font-face {
    font-family: 'Telegraf Regular';
    src: url('/assets/fonts/PPTelegraf-Regular.otf') format('truetype');
}

@font-face {
    font-family: 'Telegraf Bold';
    src: url('/assets/fonts/PPTelegraf-Ultrabold.otf') format('truetype');
}

@font-face {
    font-family: 'Telegraf Oblique';
    src: url('/assets/fonts/PPTelegraf-RegularOblique.otf') format('truetype');
}

body {
    font-family: 'Telegraf Regular', sans-serif;
    font-size:16px;
    overflow-x:hidden;
    
}



body[dark="true"]{
    --text:rgb(238, 240, 245);
    --text-filter:brightness(0) invert(95%) sepia(7%) saturate(109%) hue-rotate(184deg) brightness(100%) contrast(95%);
    --bg1:rgb(7, 11, 17);
    --bg2:rgb(17, 25, 40);
    --bg2trans:rgba(17, 25, 40, 0.75);
    --bg2transmore:rgba(17, 25, 40, 0.3);
    --border:rgba(255, 255, 255, 0.125);
    --active:#627aca;
    --ok:#8fad79;
    --warning:#ada779;
    --destroy:#ad7a79;
    --error:#b2504e;
    --shadow:rgba(29, 32, 207, 0.9);
    --light-shadow:rgba(68,29,207,0.2);

}
body[dark="false"]{
    --text:rgb(0, 0, 0);
    --bg1:#eee;
    --bg2:#fff;
    --bg2trans:rgba(255, 255, 255, 0.75);
    --border:rgba(209, 213, 219, 0.3);
}

body{
    /* background:var(--bg1); */
    color:var(--text);
    word-wrap: break-word;    
    /* background: url('https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1124&q=100') no-repeat center center fixed; */
    background:var(--bg1);
    background-size: cover;
}
.c{
    backdrop-filter:url(#blur) brightness(0.2);
}

.card {
    backdrop-filter: blur(25px) saturate(180%);
    -webkit-backdrop-filter: blur(25px) saturate(180%);
    background-color: var(--bg2trans);
    border-radius: 12px;
    border: 1px solid var(--border);
}

.modal-c{
    position:fixed;
    z-index:999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
    backdrop-filter:blur(25px) saturate(180%);
}
.modal{
    width:75%;
    display:grid;
    grid-template-rows: 0.5fr 1fr 0.5fr;
    gap:20px;
    padding-top:20px;
    
    box-shadow: 0px 0px 1000px 0px var(--light-shadow);
    background:var(--bg2);

}
.modal ._2{
    font-size:2rem;
}
.card-item{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-inline:20px;
    /* border-bottom: 1px solid var(--border); */
    /* width:100%; */
    height:max-content;
}

.title{
    font-family: 'Telegraf Bold', sans-serif;
    font-size:5rem;
    text-align: center;
}
.buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:20px;
    padding:20px;
    padding-inline:0;
}
button.big{
    font-size:4rem;
}

button{
    font-family: 'Telegraf Bold', sans-serif;
    border-radius: 12px;
    border: 1px solid var(--border);
    background-color: var(--bg2trans);
    color:var(--text);
    padding:10px 20px;
    cursor:pointer;
    transition: all 0.2s ease-in-out;
    width:100%;
    height:100%;
    font-size:2rem;
}
button:hover{
    filter:saturate(1.2) brightness(1.1);
    font-size:4.5rem;
}
button:active{
    filter:saturate(1.3) brightness(0.8);
    font-size:3.5rem;
}
.active{
    background-color:var(--active);
    color:var(--bg1);
}
.ok{
    background-color:var(--ok);
    color:var(--bg1);
}
.warning{
    background-color:var(--warning);
    color:var(--bg1);
}
.destroy{
    background-color:var(--destroy);
    color:var(--bg1);
}

textarea{
    font-family: 'Telegraf Regular', sans-serif;
    font-size:2rem;
    border-radius: 12px;
    border: 1px solid var(--border);
    background-color: var(--bg2trans);
    backdrop-filter: blur(25px) saturate(180%);
    color:var(--text);
    padding:10px 10px;
    transition: all 0.2s ease-in-out;
    width:100%;
    height:100%;
    resize:none;
}

.hidden{
    display:none !important;
}
.disabled{
    opacity:0.5;
    cursor:not-allowed;
    filter:grayscale(1);
}
.popup-c.error .popup{
    background-color:var(--error);
    box-shadow: 0px 0px 1000px 0px rgba(207, 29, 29, 0.657);
}

.popup-c{
    position:fixed;
    z-index:9999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
    backdrop-filter:blur(25px) saturate(180%);
}
.popup{
    width:50%;
    display:grid;
    grid-template-rows: 1fr 2fr;
    gap:20px;
    padding-top:20px;
    box-shadow: 0px 0px 1000px 0px var(--light-shadow);
    border-radius:25px;
    font-size:2.5rem;
    padding:25px;
    background:var(--bg2);
}

.c{
    position:absolute;
    top:0;
    left:0;
    display:flex;
    flex-direction: column;
    padding:25px;
    gap:25px;
    z-index: 0;
    width: calc(100vw - 50px);
    height: calc(100vh - 50px);
}
.glow{
    text-shadow: 0px 0px 100px var(--shadow);
}
.glowbox{
    text-shadow: 0px 0px 100px 0 var(--shadow);
}
h1{
    font-size:3.5rem;
    font-family: 'Optician', sans-serif;
}
.card-list{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap:20px;
    padding:20px;
    overflow:auto;
    height:calc(100vh - 40px);
    max-height:calc(100vh - 75px - var(--nav-height));
    position: relative;
}
section.homepage{
    overflow-y:hidden;
}
.studyset{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding:25px;
    cursor: pointer;
    user-select: none;
    max-height:200px;
    position: relative;
}

.studyset .title{
    font-size:3rem;
    font-family: 'Optician', sans-serif;
    text-align: center;
}
.description{
    opacity:0.7;
    font-size:1.5rem;
}
.studyset .card-item{
    margin:0;
    justify-content: start;
}
.pill{
    width:100%;
    height:15px;
    background:var(--active);
    border-radius:100px;
    margin-bottom:10px;
}

.flex-opposite{
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.nav button{
    max-width: 160px;
    /* aspect-ratio: 2; */
    background:var(--active);
    font-size:2rem !important;
    height:100%;
    min-height:60px;
}
.nav > div{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    padding:20px;
    padding-inline:0;
    overflow-x:auto;
}
.nav button#importstudyset{
    background:var(--bg2);
}
.nozoom{
    font-size:2rem !important;
}

.flex-row{
    display:flex;

}
.grid12{
    display:grid;
    grid-template-columns: 1fr 2fr;
    gap:20px;
}
.addflashcard{
    height:max-content;
    display:flex;
    justify-content: center;
    align-items: center;
    background: var(--active);
}

.summary .card{
    padding:25px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.summary{
    position: relative;
    height:calc(100vh - 40px);
}
.cardlist-c{
    margin-top:25px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:calc(100vh - 125px - var(--summary-height));
    position: relative;
    overflow-y:auto;
}
.cardlist{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    left:0;
    top:0;
    gap:20px;
}
.flashcard{
    width:calc(100% - 52px);
    /* max-width:33vw; */
    font-family:'Telegraf Regular', sans-serif;
    font-size:2rem;
    min-height:100px;
    display: flex;
    justify-content: stretch;
    align-items: center;
    position:relative;
    height:max-content;
}

.sides-preview{
    /* display:grid; */
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    /* grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr; */
    width:100%;
    gap:20px;
    height: 100%;
    flex:1;
    position: relative;
}

.side-preview{
    width:100%;
    /* height: calc(100% - 20px); */
    flex-wrap:wrap;
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 12px;    
    border: 1px solid var(--border);
    background-color: var(--bg2trans);
    color:var(--text);
    padding-top:20px;
    padding-bottom:20px;
    gap:10px;
}
.side-preview img{
    width:100%;
    object-fit: cover;
    border-radius: 12px;
    border: 1px solid var(--border);
    background-color: var(--bg2trans);
    color:var(--text);
    padding-top:10px;
    padding-bottom:10px;
}

.flashcard .options-c{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding-top:10px;
}

.studyset .options-c{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding-top:10px;
}


.studyset .options{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    cursor:pointer;
}
.studyset .options .dot{
    width:10px;
    height:10px;
    border-radius:100px;
    background:var(--text);
    opacity:0.3;
    pointer-events:none;
    user-select: none;
}

.studyset .context-menu-c{
    position:absolute;
    top:2rem;
    left:25%;
    width:50%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    background: var(--bg2trans);
    border-radius: 12px;
    border: 1px solid var(--border);
    backdrop-filter: blur(25px) saturate(180%);
    overflow:hidden;
    box-shadow: 0px 0px 1000px 0px var(--shadow);
    opacity: 1;
    font-size:2rem;
}

.flashcard .context-menu-c{
    position:absolute;
    top:2rem;
    left:25%;
    width:50%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    background: var(--bg2trans);
    border-radius: 12px;
    border: 1px solid var(--border);
    backdrop-filter: blur(25px) saturate(180%);
    overflow:hidden;
    box-shadow: 0px 0px 1000px 0px var(--shadow);
    opacity: 1;
}
.context-menu-c .entry{
    border-bottom: 1px solid var(--border);
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select:none;
    padding:10px 20px;
    cursor:pointer;
    transition:all 0.1s ease-in-out;
}
.context-menu-c .entry:hover{
    background:var(--active);
    color:var(--bg1);
}

.flashcard .options{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    cursor:pointer;
}
.flashcard .options .dot{
    width:10px;
    height:10px;
    border-radius:100px;
    background:var(--text);
    opacity:0.3;
    pointer-events:none;
    user-select: none;
}

section.flashcard-page{
    height:100%;
}
section.flashcard-page > div{
    height: 100%;
}

.center{
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
}
textarea:focus, input:focus, textarea:active, input:active{
    outline: none;
    box-shadow: 0px 0px 1000px 0px var(--shadow);
    backdrop-filter: blur(25px) saturate(180%);
    background-color: var(--bg2trans);
}

.flashcard-editor{
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flashcard-editor .card{
    gap:20px;
    padding-bottom:20px;
    width: 100%;
}

.flashcard-editor textarea{
    height:100%;
    resize:vertical;
    transition:height 0s linear, box-shadow 0.2s ease-in-out;
    /* text-align:center; */
}

.texteditor{
    position: relative;
    width: 100%;
}
.texteditor .tools{
    display:flex;
    position:absolute;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(25px) saturate(180%);
    background-color: var(--bg2trans);
    border-radius: 12px 12px 0 0;
    border: 1px solid var(--border);
    border-bottom: 0;
    top:calc(-3rem);
    right:0;
    z-index:3;
    
}
.texteditor .tools button{
    border:0;
    border-radius:12px;
    font-size:1.5rem !important;
    z-index:2;
    background: #00000000 !important;
    font-family:"Telegraf Regular", sans-serif;
}
.texteditor .tools button:hover{
    background: #00000033 !important;

}

.being-edited .virtual-textarea{
    border-top-right-radius: 0 !important;
}

.bold{
    font-family: "Telegraf Bold", sans-serif !important;
}

.italic{
    font-family: "Telegraf Oblique", sans-serif !important;
}

.underline{
    text-decoration: underline !important;
}
.strikethrough{
    text-decoration: line-through !important;
}
.tools .add-image{
    width:25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:10px;
}

.icon{
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon img{
    fill:var(--text);
    filter:var(--text-filter);
    height:24px;
    user-select: none;
    pointer-events:none;
}

.wysiwyg{
    position: relative;
    width:100%;
    height:max-content;
    min-height:100px;
}
.wysiwyg .virtual::selection{
    background:#00000000;
}
.measurement-element{
    min-height:100px;
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    font-family: "Telegraf Regular", sans-serif;
    font-size: 2rem;
    resize: none;
    border: 0;
    outline: none;
    background: none;
    color:var(--text);
    /* pointer-events: none;
    user-select: none; */
    border: 1px solid var(--border);
    background-color: var(--bg2trans);
    backdrop-filter: blur(25px) saturate(180%);
    z-index: 1;
    border-radius: 12px;
    background:#00000000;
    color:var(--text);
    padding:10px 10px;
    z-index:4;
}
.virtual{
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    min-height:100px;
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    font-family: "Telegraf Regular", sans-serif;
    font-size: 2rem;
    border: 0;
    outline: none;
    border-radius: 12px;
    /* color:#00000000 !important; */
    padding:10px 10px;
    transition: all 0.2s ease-in-out, height 0 linear;
    /* z-index:5; */
    background:#00000000 !important;
    overflow-y:auto;
}
.virtual img{
    width:100%;
}
.wysiwyg *::selection{
    background:var(--active);
    color:var(--text);
}
.virtual-textarea{
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    min-height:100px;
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    font-family: "Telegraf Regular", sans-serif;
    font-size: 2rem;
    resize: none;
    border: 0;
    outline: none;
    background: none;
    color:var(--text);
    pointer-events: none;
    user-select: none;
    border-radius: 12px;
    background:#00000000;
    color:var(--text);
    padding:10px 10px;
    transition: all 0.2s ease-in-out, height 0 linear;
    z-index:4;
}
.wysiwyg .background{
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    min-height:100px;
    padding:10px 10px;
    border: 1px solid var(--border);
    background-color: var(--bg2trans);
    backdrop-filter: blur(25px) saturate(180%);
    border-radius: 12px;
    border-top-right-radius: 0;
}
.wysiwyg .selection{
    position: absolute;
    border-radius: 3px;
    background-color: var(--active);
    opacity:0.7;
    pointer-events: none;
    user-select: none;
    z-index: 3;
    height:2rem;
    min-width:5px;
    padding:5px;
    padding-inline:0;
    margin-top:-5px;
}
b{
    font-family: "Telegraf Bold", sans-serif;
}
u{
    border-bottom: 2px solid currentColor;
    text-decoration:none;
    display: inline-block;
    line-height: 0.75;
}
strike{
    text-decoration: line-through;
}
.dragndrop{
    position: absolute;
    /* top: calc(3rem + 20px); */
    top:0;
    height:calc(100vh - 60px);
    left: 0;
    /* width: calc(100% - 50px); */
    width: calc(100% - 60px);
    min-height:100px;
    padding:10px 10px;
    border: 1px solid var(--border);
    background-color: var(--bg2transmore);
    backdrop-filter: blur(25px) saturate(180%);
    border-radius: 12px;
    box-shadow: 0px 0px 1000px 0px var(--light-shadow);
    z-index: 999;
    user-select: none;
    aspect-ratio: 1;
    padding:25px;
    pointer-events: all;
}

.dragndrop > div{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 1px solid var(--border);
    background-color: var(--bg2trans);
    backdrop-filter: blur(25px) saturate(180%);
    color:var(--text);
    font-size:2rem;
    transition: all 0.2s ease-in-out;
    cursor:pointer;
    position:relative;
    z-index: 10;
}
.dragndrop .pill{
    position:absolute;
    height:15px;
    background:var(--bg2trans);
    box-shadow:var(--shadow);
    border-radius:100px;
    bottom:4rem;
    width:33%;
    overflow:hidden;
}
body{
    --dragndrop-progress:0;
}
.dragndrop .pill::before{
    content: "";
    position:absolute;
    width:100%;
    height:100%;
    background:var(--active);
    /* border-radius:100px; */
    bottom:0;
    left:0;
    right:0;
    top:0;
    transform:scaleX(var(--dragndrop-progress));
    z-index:9999;
    transform-origin: left;
    transition:transform 0.2s ease-in-out;
}

.dragndrop > div > span{
    position:absolute;
    bottom:2rem;
    opacity:0.5;
}
.dragndrop > div > .plus-icon{
    position:absolute;
    opacity:0.7;
    width:100%;
    height:100%;
}
.dragndrop > div > .plus-icon > ._1{
    position:absolute;
    top:35%;
    left:25%;
    width:50%;
    height:10px;
    border-radius:25px;
    background:var(--text);
    transform:rotate(90deg);
    /* max-width:500px; */
}
.dragndrop > div > .plus-icon > ._2{
    position:absolute;
    top:35%;
    left:25%;
    width:50%;
    height:10px;
    border-radius:25px;
    background:var(--text);
    /* max-width:500px; */
}

.mtop{
    margin-top: calc(20px + 3rem);
}

.flashcard-editor .card{
    padding:20px;
    padding-bottom: 41px;
}
.flashcard-editor.editing-mode .card{
    padding-bottom: 20px;
}
#saveflashcardbutton{
    margin-top:20px;
}
button.saveflashcard{
    height:3rem;
    background:var(--active);
    font-size:2rem !important;
    border:0;
    box-shadow: 0px 0px 1000px 0px var(--light-shadow);
    z-index: 999;
}

input{
    font-family: "Telegraf Regular", sans-serif;
    font-size: 2rem;
    border-radius: 12px;
    border: 1px solid var(--border);
    background-color: var(--bg2trans);
    backdrop-filter: blur(25px) saturate(180%);
    color:var(--text);
    padding:10px 10px;
    transition: all 0.2s ease-in-out;
    width:100%;
    height:100%;
    resize:none;
}

input[type="color"]{
    height: 3rem;
    width: 3rem;
    padding:0;
    border: 0 !important;
    cursor:pointer;
}

.input-color-c{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    border:0 !important;
}
.back-btn-c{
    position: absolute;
    top:0;
    left:0;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding-top:10px;
}

button.study-set{
    height:3rem;
    background:var(--active);
    font-size:2rem !important;
    border:0;
    box-shadow: 0px 0px 1000px 0px var(--light-shadow);
    z-index: 999;
    width:100%;
    border-radius: 12px;
    border: 1px solid var(--border);
    background-color: var(--ok);
    backdrop-filter: blur(25px) saturate(180%);
    color:var(--bg2);
    padding:10px 10px;
    transition: all 0.2s ease-in-out;
    width:100%;
    height:100%;
    resize:none;
    margin-bottom:20px;
    margin-top:-40px;
    
}

section .study-select .card{
    gap:20px;
    padding-bottom:21px;
}
section .study-select .card button{
    height:3rem;
    background:var(--active);
    font-size:2rem !important;
    border:0;
    box-shadow: 0px 0px 1000px 0px var(--light-shadow);
    z-index: 999;
    width:100%;
    border-radius: 12px;
    border: 1px solid var(--border);
    background-color: var(--active);
    backdrop-filter: blur(25px) saturate(180%);
    color:var(--bg2);
    padding:10px 10px;
    transition: all 0.2s ease-in-out;
    width:100%;
    height:100%;
    resize:none;
}

.progress-c{
    width:100%;
}
.progress{
    width:100%;
    height:max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    position: relative;
}
.progress .perfect-pills{
    width:100%;
    height:max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    position: relative;
}
.progress .perfect-pills .pill{
    min-width:15px;
}
.progress .perfect-pills::after{
    content: "";
    height: 30px;
    border: 1px solid var(--border);
}

.progress .pill{
    margin: 0;
    transition:background 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow:0;
}

.progress .pill.easy{
    background: var(--ok);
}
.progress .pill.ok{
    background: var(--warning);
}
.progress .pill.hard{
    background: var(--destroy);
}
.progress .pill.perfect{
    background: var(--active);
    opacity:0.5;
}

.progress .pill.active{
    box-shadow: 0 0 40px 0 var(--shadow);
}

.active-indicator{
    box-shadow: 0 0 0 3px var(--border);
    position:absolute;
    border-radius:200px;
}

.deck{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    padding-top:20px;
    height:100%;
    width:100%;
    perspective:2000px;
}
body{
    overflow:hidden;
}

.deck .card{
    width:100%;
    height:max-content;
    display:flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap:20px;
    border-radius: 12px;
    border: 1px solid var(--border);
    background-color: var(--bg2trans);
    backdrop-filter: blur(25px) saturate(180%);
    color:var(--text);
    padding:20px;
    padding-inline:0;
    /* transition: all 0.2s ease-in-out; */
    width:100%;
    height:100%;
    resize:none;
    cursor:pointer;
    user-select: none;
    transform-style: preserve-3d;
    overflow-y: auto;
    max-height:100%;
}
.card-side{
    height:max-content;
    font-size:2rem;
}

.card-side img{
    width:100%;
}
section.studying{
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    padding-top:20px;
    padding-bottom:20px;
}
section.studying .buttons{
    width:100%;
    padding:0;
    max-width:1000px;
    min-height:100px;
}
.progress-bar{
    height:15px;
    width:100%;
    display: flex;
    flex-direction: row;
    border-radius:200px;
    overflow: hidden;
    background:var(--bg2);
}
.progress-bar > .easy{
    background:var(--ok);
}

.progress-bar > .ok{
    background:var(--warning);
}

.progress-bar > .hard{
    background:var(--destroy);
}
.close-study-gui{
    background:var(--active);
}
@media (max-width: 767px) {
    body{
        background:var(--bg1);
        overflow:auto;
    }
    .nav{
        flex-direction: column;
    }
    .modal,.popup{
        width:100%;
        height:100%;
        padding:0;
        border-radius:0;
        justify-content: center;
    }
    .title{
        font-size:2.5rem;
    }
    button{
        font-size:2rem !important;
    }

    .progress .perfect-pills .pill{
        min-width:3px;
    }
    .progress > .pill{
        min-width:3px;
    }
    .grid12{
        display:flex;
        flex-direction: column;
    }
    .grid12 .flashcard-editor{
        /* margin:10px; */
        order:0;
        margin-bottom:0;
        margin-top: 0;
    }
    .grid12 .summary .card{
        gap:10px;
    }
    .grid12 .summary{
        order:1;
    }
    .grid12 .summary h1{
        margin-top:60px;
        margin-bottom:0;
    }
    .side-preview{
        padding-inline:5px;
        width:calc(100% - 10px);
        padding-top:10px;
        padding-bottom:10px;
    }
    .pill{
        margin:10px;
    }
    .sides-preview{
        margin-top:10px;
        gap:10px;
    }
    .flashcard .options-c,.studyset .options-c{
        padding-top:5px;
    }
    .grid12 .summary .cardlist-c{
        min-height:100%;
        height:max-content;
        overflow-y:hidden;
    }
    .grid12 .summary .card-item{
        /* width:calc(100% - 20px); */
        /* margin-inline: 10px; */
    }
    .card-item{
        margin-inline:0;
        /* width:100%; */
        width:max-content;
        height:max-content;
    }
    .card-item button{
        margin-bottom:0;
    }

    .back-btn-c{
        aspect-ratio: 1;
        width:max-content !important;
        margin-inline:10px;
    }
    .back-btn-c button{
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .card-item h1{
        width:100%;
    }
    .card{
        padding:10px !important;
    }
    .grid12 .summary .cardlist-c .flashcard{
        max-width: 100vw;
        width:calc(100% - 22px);
    }
    .flashcard-editor .card{
        width:calc(100% - 20px);
        height:max-content;
    }
    .flashcard-editor .card-item{
        height: max-content;
    }
    .wysiwyg{
        margin-bottom:20px;
    }
    .texteditor .tools{
        opacity:1 !important;
        margin-right:-2px;
        max-width:calc(80vw - 50px);
        overflow-x:auto;
        padding-left:50px;
    }
    .flashcard-editor h1{
        margin-top:10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .c{
        padding:20px;
        width:calc(100vw - 40px);
        height:calc(100vh - 40px);
    }
    .cardlist{
        height:max-content;
    }
    .cardlist-c{
        height:var(--cardlist-height) !important;
    }
    h1{
        font-size:2.5rem;
    }
    button.study-set{
        margin: 0;
    }
    .nav button#importstudyset{
        display:none;
    }

    section.help_page .step{
        flex-direction: column !important;
        padding-top:40px;
        padding-left:0 !important;
        width:100% !important;
    }

    .small_image{
        object-fit: cover;
        max-width:100%;
        margin-top:10px;
        margin-left:0 !important;
    }
    
}


.loader-c{
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:9999;
    backdrop-filter: blur(5px) saturate(180%);
    pointer-events: all;
}

.loader {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.loader div {
transform-origin: 40px 40px;
animation: loader 1.2s linear infinite;
}
.loader div:after {
content: " ";
display: block;
position: absolute;
top: 3px;
left: 37px;
width: 6px;
height: 18px;
border-radius: 20%;
background: #fff;
}
.loader div:nth-child(1) {
transform: rotate(0deg);
animation-delay: -1.1s;
}
.loader div:nth-child(2) {
transform: rotate(30deg);
animation-delay: -1s;
}
.loader div:nth-child(3) {
transform: rotate(60deg);
animation-delay: -0.9s;
}
.loader div:nth-child(4) {
transform: rotate(90deg);
animation-delay: -0.8s;
}
.loader div:nth-child(5) {
transform: rotate(120deg);
animation-delay: -0.7s;
}
.loader div:nth-child(6) {
transform: rotate(150deg);
animation-delay: -0.6s;
}
.loader div:nth-child(7) {
transform: rotate(180deg);
animation-delay: -0.5s;
}
.loader div:nth-child(8) {
transform: rotate(210deg);
animation-delay: -0.4s;
}
.loader div:nth-child(9) {
transform: rotate(240deg);
animation-delay: -0.3s;
}
.loader div:nth-child(10) {
transform: rotate(270deg);
animation-delay: -0.2s;
}
.loader div:nth-child(11) {
transform: rotate(300deg);
animation-delay: -0.1s;
}
.loader div:nth-child(12) {
transform: rotate(330deg);
animation-delay: 0s;
}
@keyframes loader {
0% {
    opacity: 1;
}
100% {
    opacity: 0;
}
}

.inline-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.inline-flex button{
    aspect-ratio: 1;
    max-width:50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inline-flex button:hover{
    background:var(--active);
    color:var(--bg1);
}
section.help_page{
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    padding-top:20px;
    padding-bottom:20px;
    overflow-y:auto;
}
section.help_page p{
    font-size:2rem;
    font-family: "Telegraf Regular", sans-serif;
    text-align: center;
    margin:0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap:wrap;
    gap:10px;
}
section.help_page code{
    font-family: "Telegraf Regular", sans-serif;
    font-size: 2rem;
    border-radius: 12px;
    border: 1px solid var(--border);
    background-color: var(--bg2trans);
    backdrop-filter: blur(25px) saturate(180%);
    color:var(--text);
    padding:10px 10px;
    transition: all 0.2s ease-in-out;
    /* width:max-content; */
    height:max-content; 
    resize:none;
    max-width: calc(100% - 20px);
    word-wrap: break-word;
}
a{
    color:var(--active);
    text-decoration:none;
}
.small_image{
    object-fit: cover;
    border-radius: 12px;
    border: 1px solid var(--border);
    background-color: var(--bg2trans);
    color:var(--text);
    max-height:224px;
    margin-left:10px;
}
section.help_page .step{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: var(--bg2trans);
    border-radius: 12px;
    border: 1px solid var(--border);
    backdrop-filter: blur(25px) saturate(180%);
    color:var(--text);
    padding-left:10px;
    max-width:calc(100vw - 42px);
    position: relative;
}
section.help_page .steps{
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(240px, 1fr));
    gap:20px;
    width: 100%;
    height:max-content;
}
section.help_page .step > div{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
}
section.help_page .indicator{
    position:absolute;
    top:10px;
    left:10px;
    width:max-content !important;
    font-size:2rem;
    font-family: "Optician", sans-serif;
    color:var(--text);
    opacity:0.7;
}